<div>
  <h2>Featured Articles:</h2> <hr>
  <% @articles.last(5).each do |article| %>
    <% if article.featured %>
      <h2><%= link_to article.title, category_article_path(article.categories.first, article) %></h2>
      <p><%= truncate(article.content, length: 200) %></p>
    <% end %>
  <% end %>
</div>
<center>
<img src="http://img01.deviantart.net/0b87/i/2011/018/0/f/dancing_banana_by_robbingraves-d37hmfz.jpg">
</center>
