<!DOCTYPE html>
<html>
<head>
  <title>Bananas</title>
  <script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/header" %>
<%= render partial: "layouts/leftbar", locals: {categories: @categories} %>
<%= yield %>

</body>
</html>
