/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self

 *= require_tree .
 */


body {
  background-color: #fbe349;
}

.header-color {
  background-color: #6bae1a;
}

.sidebar-color{
  background-color: #fed926;
  height: 2000px;
}
.side-bar-float-text {
  float: left;
}
#nav-bar-center {
  text-align: center;
  vertical-align: middle;
  padding-left: 25%;
}

#float-right-search {
  padding-top: 1em;
  float: right;
}

.title-header {
  font-size: 3em;
}

